{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'includes/_macros.html' import render_field %}
{% block title %} <h2>Manage your profile</h2> {% endblock %}

{% block inner_container %}
<form method="POST" >
            <dl>
               {{ render_field(form.role) }}
               {{ render_field(form.username) }}
               {{ render_field(form.email) }}
               {{ render_field(form.confirmed) }}
               {{ render_field(form.real_name) }}
               {{ render_field(form.location) }}
               {{ render_field(form.about_me) }}

               {{ form.submit() }}
            </dl>
 </form>
{% endblock %}