{% extends 'base.html' %}
{% from 'includes/_macros.html' import render_field, render_checkbox, render_submit_field %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}
{% block header %}
    <header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}

<!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">User access</li>
        </ol>

        <div class="row">
            
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Sign in</h1>
                </header>
                
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="underlined-title thin text-center">Welcome back!</h3>
                            <form method="POST" class= "form-login" role="form">
                                {{ render_field(form.email) }}
                                {{ render_field(form.password) }}

                                <div class="top-margin row">
                                    {{ render_checkbox(form.rememberMe) }}
                                    {{ render_submit_field(form.submit) }}
                                </div>
                                <div class="row top-margin">
                                    <p class="text-center text-muted"><a href="">Forgot password?</a></p>
                                    <p class="text-center text-muted">New user? <a href="{{url_for('auth.register') }}">Register</a></p>
                                </div>
                                
                            </form>
                            <legend class="text-muted text-center">or</legend>
                            <div class="text-center">
                                <a class="btn btn-lg btn-social-icon btn-facebook" href="https://gae-init.appspot.com/signin/facebook/?next=%2F&amp;remember=true" title="Sign in with Facebook" rel="nofollow">
                                <i class="fa fa-facebook"></i>
    
                            </a>
                        </div>
                            
                        </div>
                    </div>

                </div>
                
            </article>
            <!-- /Article -->

        </div>
    </div>  <!-- /container -->
    

{% endblock inner_wrapper %}
{% block footer %}
    {{ super() }}
{% endblock footer %}