<div class="fixedHeader">
            <div class="titleBar centeredWithinWrapper gridWidth">
                <div class="fixedHeaderNameAndImage" style="bottom: 70px;">
                    <div class="fixedHeaderImage">
                        <img src="http://media-cache-ak0.pinimg.com/avatars/marinascukina_1413825827_140.jpg" style="" alt="Marina Shchukina">

                    </div>
                    <div class="fixedHeaderName" itemprop="name">
                        Marina Shchukina
                    </div>
                </div>
              <div class="buttons">
                <button type="button" class="editProfile hasText rounded ShowModalButton Button primary Module ajax btn"><span class="buttonText">Edit profile</span></button>
              <em></em>
              <span class="accessibilityText">User menu</span></button>
                </div>
            </div>
            <div class="divider centeredWithinWrapper gridWidth">
                <hr>
            </div>
        </div>
{% block inner_container %}

  <div class="profile-info">
      <div class="about-bar">
          <div class="about">
            <div class="name">Marina Shchukina</div>
                    <div class="profile-info_avatar">
                        
                    </div>
          </div>
      </div>
  </div>



    <div class="column vcard" itemscope="" itemtype="http://schema.org/Person">
        <a href="/account" class="vcard-avatar"><img alt="" class="avatar" data-user="{{user.id}}" height="230" width=230 src="{{user.avatar()}}"></a>

      <h1 class="vcard-names">
        {% if user.real_name %}
        <span class="vcard-fullname" itemprop="realName">{{user.real_name}}</span>
        {% endif %}
        <span class="vcard-username" itemprop="username">{{user.username}}</span>
      </h1>
      <ul class="vcard-details">
        <li class="vcard-detail" itemprop="homeLocation"><span class="location">{{user.location}}</span></li>
        <li class="vcard-detail"><span class="mail"></span><a class="email" href="mailto:{{user.email}}">{{user.email}}</a></li>
        <li class="vcard-detail"><span class="clock"></span><span class="join-label">Joined on </span><time class="join-date" datetime="{{user.member_since}}" day="numeric" is="local-time" month="short" year="numeric" title="Jan 29, 2013, 9:17 AM GMT">{{user.member_since}}</time></li>
        <li class="vcard-detail"><span class="clock"></span><span class="join-label">Last seen </span><time class="last-seen-date" datetime="{{user.last_seen}}" day="numeric" is="local-time" month="short" year="numeric" title="Jan 29, 2013, 9:17 AM GMT">{{user.last_seen}}</time></li>
      </ul>
      <ul class="vcard-actions">
           <li>
              <a href=" {{ url_for('auth.manage_profile') }} ">Manage my profile</a>
          </li>
         {% if current_user.is_administrator() %}
          <li>
            You are an administrator! Edit other users' profiles!
          </li>
          <li>
            <a class="btn btn-danger" href="{{url_for('auth.admin_manage_profiles', id=user.id)}}" >Admin playground</a>
          </li>
          {% endif %}

      </ul>
    </div>



{% endblock %}