{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'includes/_macros.html' import render_field, render_submit_field %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}
<!-- container -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Register</li>
        </ol>

        <div class="row">          
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Register</h1>
                </header>
                
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="underlined-title thin text-center">Create your SureThing Account</h3>

							<form method="POST" class= "form-register" role="form">
                                {{ render_field(form.email) }}
                                {{ render_field(form.username) }}
                                {{ render_field(form.password) }}
                                {{ render_field(form.password2) }}

                                <hr />
                               <div class="clearfix">
                                {{ render_submit_field(form.submit) }}
                            	</div>
                            	<div class="row top-margin">
                                    <p class="text-center text-muted">Already a member? <a href="{{url_for('auth.login') }}">Log In</a></p>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                
            </article>
            <!-- /Article -->

        </div>
    </div>  
    <!-- /container -->

{% endblock inner_wrapper %}