{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'includes/__formhelpers.html' import render_field, render_submit_field %}
{% block title %} <h2>Registration</h2> {% endblock %}

{% block inner_container %}
<form method="POST" class= "form-register" role="form">
    <h2 class="form-register-heading">{{title}}</h2>
    {{ render_field(form.email) }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.password2) }}
    {{ render_submit_field(form.submit) }}
 </form>
{% endblock %}