{% extends 'base.html' %}
{% set active_page = 'dashboard' %}
{% from 'includes/_macros.html' import render_field, teamkitimage %}

{% block title %}Archived{% endblock %}

{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}
    <!--dashboard-->
    <div class="dashboard">

        <!--sidebar-->
            {% include 'includes/sidebar_menu.inc.html' %}
        <!--/sidebar-->

        <!--dashboard archived-->
        <div class="dashboard-archived jumbotron container content-wrap">
            <ol class="breadcrumb breadcrumb--with-margin">
                <li><a href="{{ url_for('.index') }}">Home</a></li>
                <li><a href="{{ url_for('.dashboard') }}">Dashboard</a></li>
                <li class="active">Archived Matches</li>
            </ol>

            {% if savedmatches.length != 0 %}
                {% include 'includes/saved_matches.inc.html' %}
            {% endif %}
        </div>
        <!--/dashboard archived-->
    </div> 
    <!--/dashboard-->   
{% endblock %}