{% extends 'base.html' %}
{% set active_page = 'dashboard' %}
{% from 'includes/_macros.html' import render_field, teamkitimage %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}
<div class="dashboard">
    <!--sidebar-->
    {% include 'includes/sidebar_menu.inc.html' %}
    <!--/sidebar-->
    
    <div class="dashboard__upcoming jumbotron container content-wrap">
        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.index') }}">Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
        <!-- /breadcrumbs -->

        <!-- content -->
        {% if savedmatches %}
            {% include 'includes/saved_matches.inc.html' %}
        {% else %}
        <div class="dashboard__inner-no_matches text-center">
            <p>This is your dashboard!</p>
            <p><i class="fa fa-dashboard fa-5x"></i></p>
            <p><a href="{{url_for('main.index')}}">Start saving your matches now! &nbsp;<i class="fa fa-arrow-right"></i></a></p>
        </div>
            
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}