{% extends 'base.html' %}
{% set active_page = 'dashboard' %}
{% from 'includes/_macros.html' import render_field, teamkitimage %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    <header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}
    <!--sidebar-->
    {% include 'includes/sidebar.inc.html' %}
    <!--/sidebar-->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{{ url_for('.index') }}">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>

    <div class="row well">
        {% if savedmatches %}
            {% include 'includes/saved_matches.inc.html' %}
        {% else %}
        <p>This is your dashboard!</p>

        <p><a href="{{url_for('main.index')}}">Start saving your matches now!</a></p>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}