{% extends "base.html" %}
{% from 'includes/__formhelpers.html' import render_field %}

{% block header %}
    {% include 'includes/header.inc.html' %}
{% endblock header %}

{% block inner_wrapper %}
    <!-- introduction -->
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">The best place to tell people why they are here</h2>
        <p class="text-muted">This is the index page</p>
    </div>
    <!-- /introduction -->
    <!--menu-->
    <ul class="nav nav-tabs">
            <li><a href="{{ url_for('.show_unplayed') }}">Upcoming fixtures</a></li>
            <li><a href="{{ url_for('.show_played') }}">History</a></li>
    </ul>
    <!--/menu-->

    <!--sockets-->
 <div class="jumbotron">
    <h1>Asynchronous Flask Communication</h1>
</div>

<div class="container" id="content">
    <div class="row">
        <p>Asynchronous page updates will appear here:</p>
        <h3>Number list:</h3>
        <div id="log">
    </div>
</div>


</div>
    <!--/sockets-->

    {% include 'includes/upcoming_fixtures.inc.html' %}

        <p>Welcome to my website,
            {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %} Stranger {% endif %}!
        </p>
        {% if not known %}
            <p>Pleased to meet you</p>
        {% endif %}
{% endblock inner_wrapper %}