{% extends "base.html" %}
{% from 'includes/__formhelpers.html' import render_field %}
{% block navbar %}
    {{ super() }}
    {% include 'includes/header.inc.html' %}

{% endblock navbar %}
{% block inner_container %}
    <!-- intro -->
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">The best place to tell people why they are here</h2>
        <p class="text-muted">This is the index page</p>
    </div>
    <!-- /intro-->
    
    {% include 'includes/upcoming_fixtures.inc.html' %}

    <!-- game container -->
    <div class="container">
        <div class="jumbotron top-space">
            <h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
            <p class="text-right"><a class="btn btn-primary btn-large">View game > </a></p>
            <p class="text-right"><a class="btn btn-primary btn-large">Comments ></a></p>
            <p class="text-right"><a class="btn btn-primary btn-large">Save</a></p>
        </div>

    </div>  
    <!-- /container -->

        <p>Welcome to my website,
            {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %} Stranger {% endif %}!
        </p>
        {% if not known %}
            <p>Pleased to meet you</p>
        {% endif %}

        <!--remove "not" when adding posts-->

        {% if current_user.is_authenticated() %}


        {% endif %}


{% endblock %}