{% extends "base.html" %}
{% from 'includes/_macros.html' import render_field %}

{% block title %}
        {{title}}
{% endblock %}
{% block header %}
    {% if current_user.is_authenticated() %}
        <header id="head" class="secondary"></header>
    {% else %}
        {% include 'includes/header.inc.html' %}
    {% endif %}
{% endblock header %}

{% block inner_wrapper %}
    <!-- introduction -->
    <div class="container text-center">
        <br />
        <br />
        <h2 class="thin">Bet safely!</h2>
        <p class="text-muted">Start saving matches to your dashboard.</p>
    </div>
    <!-- /introduction -->

    <div class="jumbotron top-space container" id="matches-overview">
        <!-- menu -->
        <ul class="nav nav-pills" id="upcoming-past-nav">
            <li role="presentation" class="active"><a href="{{ url_for('.show_unplayed') }}">Upcoming fixtures</a></li>
            <li role="presentation"><a href="{{ url_for('.show_played') }}">Previous Results</a></li>
        </ul>
        <!--/ menu -->

        <!-- matches list -->
            {% include 'includes/upcoming_fixtures.inc.html' %}
        <!--/matches list-->

    </div>

{% endblock inner_wrapper %}