{% extends 'base.html' %}

{% block title %}Leader board{% endblock %}

{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}

<div class="container">
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="{{ url_for('.index') }}">Home</a></li>
        <li class="active">Leader board</li>
    </ol>
    <!-- /breadcrumb -->
    <h4>User | Win | Loss</h4>

    <ul>
    {% for user in users %}
        <li>{{user.username}} | {{user.win_points}} | {{user.loss_points}}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}