{% from 'includes/_macros.html' import teamkitimage, render_field %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}

{% extends 'base.html' %}

{% block title %}Messages{% endblock %}

{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}

    <!-- sidebar -->
    {% include 'includes/sidebar_menu.inc.html' %}
    <!-- /sidebar -->
    
    <div class="dashboard jumbotron container content-wrap">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.index') }}">Home</a></li>
            <li class="active">Messages</li>
        </ol>
        <!-- /breadcrumb -->


        {% if messages.count() > 0 %}


        <!-- user messages -->
        <div class="messages jumbotron top-space container">

                {% for message in messages %}

                <!-- message preview -->
                <div class="message row panel panel-default" data="{{message.id}}">
                    <div class="panel-body">
                        <p class="col-sm-7" >
                            {% if message.new %}<strong>{{ message.title }}</strong>
                            {% else %} {{ message.title }} {% endif %}
                        </p>
                        <p class="col-sm-3 col-sm-offset-2">{{moment(message.timestamp).format('MMMM Do YYYY HH:mm') }}</p>
                        <div class="btn-group-xs pull-right" role="group">
                            <a href="{{ url_for('.view_message', id=message.id) }}" class="btn btn-primary">View</a>

                        </div>
                    </div>
                </div>
                <!-- /message preview -->
                {% endfor %}

            </div>
            <a href="{{ url_for('.delete_all_messages') }}" class="btn btn-primary">Delete All</a>

        </div>
        <!--/ user messages -->

        {% else %}
        <p class="messages__no-messages">You have no messages <i class="fa fa-2x fa-envelope-o"></i>
</p>
        {% endif %}
    </div>
</div>
{% endblock %}