{% extends 'base.html' %}
{% from 'includes/__formhelpers.html' import render_field %}

{% block title %}
<h2>Edit post</h2>
{% endblock %}

{% block inner_container %}
<div class="page-header">
    <h2>Edit your blog post</h2>
</div>
<h2>Post preview:</h2>
<!--{% include 'includes/posts.inc.html' %}-->

<form method="POST" >
            <dl>
               {{ render_field(form.title) }}
               {{ render_field(form.body_html) }}
               {{ form.submit() }}
            </dl>
 </form>{% endblock %}