{% extends "base.html" %}
{% from 'includes/__formhelpers.html' import render_field %}

{% block header %}
    <header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}
    <div class="container">
        <h3>{{title}}</h3>

<p>This Privacy Policy describes the way in which SureThing (otherwise referred to herein as "we" or "us") deal with the information and data you provide to us to enable us to manage your relationship with SureThing.
We will process any personal information provided to us (whether via the SureThing website (the "Website"), the user application form or any other means) or otherwise held by us relating to you in the manner set out in this Privacy Policy.
By submitting your information to us and using the Website you confirm your consent to the use of your personal information as set out in this Privacy Policy.
If you do not agree with the terms of this Privacy Policy please do not use the Website or otherwise provide us with your personal information.
</p>
<h4>Information Collected and How It Is Used</h4>
For using the Website you would need to provide some personal data. This includes you name, email address, location, etc.
The information and data about you which we may collect, use and process includes the following:
<ul>
    <li>information that you provide to us by filling in forms on the Website or any other information you submit to us via the Website or email;</li>
    <li>records of email correspondence;</li>
    <li>details of your visits to the Website including, but not limited to, traffic data, location data, weblogs and other communication data.</li>
</ul>
<p>We may use your personal information and data together with other information for the purposes of:</p>
<ul>
    <li>setting up, operating and managing your account;</li>
    <li>building up personal profiles;</li>
    <li>carrying out website population preferences analyses;</li>
</ul>

<h4>Information Storage</h4>
We will take all reasonable steps to ensure that your information is kept secure and protected.

<h4>Disclosure of Information</h4>
We are entitled to share the information we hold on you which includes personal data and betting history with the regulator, sporting bodies and other bodies, including the police, in order to investigate fraud, money laundering or sports integrity issues and to comply with our regulatory duties including to the British Gambling Commission and the Gibraltar Regulatory Authority.
In order to comply with SureThing's legal and regulatory requirements and SureThing's own internal risk management procedures, we will retain information for a period of time (generally not more than six years) after closure of your account. All such information will be held in accordance with this Privacy Policy.

 <h4>Access to information</h4>
<p>You are entitled to access the information held about you. Your right of access can be exercised in accordance with the UK Data Protection Act 1998 and the Gibraltar Data Protection Act 2004 as applicable. Any access request may be subject to a fee of £10 to meet our costs in providing you with details of the information we hold about you.</p>
<br />

<h4>Changes to our Privacy Statement</h4>
<p>Any changes we may make to our Privacy Policy in the future will be posted on this page and any such changes will become effective upon posting of the revised Privacy Policy. If we make any material or substantial changes to this Privacy Policy we will use reasonable endeavours to inform you by email, notice on the Website or other agreed communications channels.
<br /><br />
    Last updated 30/12/2014.</p>
 </div>

{% endblock inner_wrapper %}