{% extends 'base.html' %}
{% from 'includes/_macros.html' import render_field, teamkitimage %}

{% block title %}View Profile{% endblock %}

{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}
{{ moment.include_moment() }}

<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="">{{viewed_user.username}}</h1>

            <button type="button" class="btn btn-success">Follow me</button>
            {% if current_user == viewed_user %}
                <button type="button" class="btn btn-info"><a href="{{ url_for('auth.edit_profile') }}">Edit profile</a></button>
            {% endif %}
            <br>
        </div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right">
            <img title="profile image" class="img-circle img-responsive" src="{{ viewed_user.avatar(size=256) }}" />
            </a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile&nbsp;<i class="fa fa-user fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left">
                                <strong class="">Member Since</strong></span> {{ moment(viewed_user.member_since).format('L')
                    }}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last
                    seen</strong></span> {{ moment(viewed_user.last_seen).fromNow() }}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Full
                    name</strong></span> {{viewed_user.real_name}}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Location: </strong></span>
                    <a href="http://maps.google.com/?q={{ viewed_user.location }}">{{ viewed_user.location }}</a>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Preferences&nbsp;<i class="fa fa-heart"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Fav team</strong></span>
                    {% if viewed_user.fav_team %}
                        {{viewed_user.fav_team}}
                    {% else %}
                        None
                    {% endif %}
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity&nbsp;<i class="fa fa-dashboard fa-1x"></i>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Games bet on</strong></span> {{viewed_user.win_points + viewed_user.loss_points}}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Bets won</strong></span> {{viewed_user.win_points}}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Bets lost</strong></span> {{viewed_user.loss_points}}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Followers</strong></span> 78
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body"><i class="fa fa-facebook fa-2x"></i> <i
                        class="fa fa-github fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i><i class="fa fa-pinterest fa-2x"></i> <i
                            class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
           <div class="panel panel-default">
                <div class="panel-heading">About {{viewed_user.username}}</div>
                <div class="panel-body"> {{viewed_user.about_me}}

                </div>
            </div>

        <div class="panel panel-default target">
            <div class="panel-heading" contenteditable="false">Recent bets I won</div>
            <div class="panel-body">
                <div class="row">
                    {% for savedmatch in won_bets %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img alt="300x200" src="http://lorempixel.com/600/200/people">

                            <div class="caption">
                                <h4>
                                    {{savedmatch.match.hometeam.name}} vs. {{savedmatch.match.awayteam.name}}
                                </h4>

                                <p>
                                    Score: {{ savedmatch.match.hometeam_score}}: {{savedmatch.match.hometeam_score}}
                                </p>

                                <p>
                                My prediction was: 

                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">{{viewed_user.username}}'s comments</div>
            <div class="panel-body"> To be added...
        </div>
    </div>
    </div>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}
{% block scripts %}
    {{ super() }}

{% endblock %}