{% extends 'base.html' %}
{% from 'includes/_macros.html' import render_field, teamkitimage %}

{% block title %}View Profile{% endblock %}

{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}

<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="">{{viewed_user.username}}</h1>
            {% if current_user == viewed_user %}
            <button type="button" class="btn btn-info"><a href="{{ url_for('auth.edit_profile') }}">Edit profile</a></button>
            {% endif %}
            <br>
        </div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right">
                <img title="profile image" class="img-circle img-responsive" src="{{ viewed_user.avatar(size=256) }}" />
            </a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile&nbsp;<i class="fa fa-user fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left">
                    <strong class="">Member Since</strong></span> {{ moment(viewed_user.member_since).format('L')
                }}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last
                seen</strong></span> {{ moment(viewed_user.last_seen).fromNow() }}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Full
                name</strong></span> {{viewed_user.real_name}}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong
                class="">Location: </strong></span>
                <a href="http://maps.google.com/?q={{ viewed_user.location }}">{{ viewed_user.location }}</a>
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item text-muted">Preferences&nbsp;<i class="fa fa-heart"></i>

            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong
                class="">Fav team</strong></span>
                {% if viewed_user.fav_team %}
                {{viewed_user.fav_team}}
                {% else %}
                None
                {% endif %}
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item text-muted">Activity&nbsp;<i class="fa fa-dashboard fa-1x"></i>
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong
                class="">Games bet on</strong></span> {{viewed_user.win_points + viewed_user.loss_points}}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong
                class="">Bets won</strong></span> {{viewed_user.win_points}}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong
                class="">Bets lost</strong></span> {{viewed_user.loss_points}}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong
                class="">Followers</strong></span> XXX 
            </li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body"><i class="fa fa-facebook fa-2x"></i> <i
                class="fa fa-github fa-2x"></i>
                <i class="fa fa-twitter fa-2x"></i><i class="fa fa-pinterest fa-2x"></i> <i
                class="fa fa-google-plus fa-2x"></i>

            </div>
        </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9" contenteditable="false" style="">
     <div class="panel panel-default">
        <div class="panel-heading">About {{viewed_user.username}}</div>
        <div class="panel-body"> {{viewed_user.about_me}}

        </div>
    </div>

    <div class="panel panel-default target">
        <div class="panel-heading" contenteditable="false">Recent bets I won</div>
        <div class="panel-body">
            <div class="row">
                {% for savedmatch in won_bets %}
                <div class="col-md-4">
                    <!-- thumbnail -->
                    <div class="thumbnail">
                        {% with match=savedmatch.match %}
                        <!--header-->
                        <div class="user-match__header top-margin">
                            <div class="teamkits__home col-xs-5 text-center">
                                {{ teamkitimage(match, home=1) }}
                            </div>
                            <div class="col-xs-2 user-match__header-info">
                                <span class="clearfix impact">{{ match.hometeam_score}}:{{match.awayteam_score}}</span>

                            </div>
                            
                            <div class="teamkits__away col-xs-5 text-center">
                                {{ teamkitimage(match, home=2) }}
                            </div>
                        </div>
                        <!--/header-->

                        <!--caption-->
                        <p class="user-match__about text-center top-margin">
                            <span class="clearfix">
                                <strong>{{match.hometeam.name}} vs. {{match.awayteam.name}}</strong></span>
                            <span class="clearfix">Played: {{ match.date }}</span>
                            <span class="clearfix">At: {{ match.time }}</span>
                        </p>
                        <p class="user-match__prediction text-justify top-margin">
                            <span class="clearfix separator">My prediction was:</span>
                            <span class="clearfix">{% if savedmatch.predicted_winner_name %}{{ savedmatch.predicted_winner_name }} {% else %} Draw {% endif %}</span>
                            <span class="clearfix separator">Weights used:</span>
                            <span class="clearfix">League position: {{ (100*savedmatch.weight_league_position)|round|int }}%</span>
                            <span class="clearfix">Form: {{ (100*savedmatch.weight_form)|round|int }}%</span>
                            <span class="clearfix">Home/Away: {{ (100*savedmatch.weight_home_away)|round|int }}%</span>
                        </p>
                        <!--/caption-->
                        {% endwith %}

                    </div>
                    <!-- /thumbnail -->
                </div>
                {% endfor %}

            </div>

        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">{{viewed_user.username}}'s comments</div>
        <div class="panel-body"> To be added...
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}

{% endblock %}