{% extends "base.html" %}
{% from 'includes/_macros.html' import render_embedded_field, render_submit_field, render_submit_field_match_preview,
    teamkitimage %}
{% block title %}{{match.hometeam.name}} VS {{match.awayteam.name}}{% endblock %}
{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}
{% block inner_wrapper %}
<div class="view-match-dashboard container jumbotron">
    <form method="POST" class="form-horizontal" role="form">

    <ol class="breadcrumb">
        <li><a href="{{ url_for('.index') }}">Home</a></li>
        <li><a href="{{url_for('.dashboard') }}">Dashboard</a></li>
        <li class="active">Saved Match</li>
    </ol>

    <!-- match header  -->
    {% include 'includes/match_header.inc.html'  %}
    <!-- /match header -->

    <h2>Prediction Modules</h2>

    <!-- modules -->
    <div class="view-match-dashboard__modules">
        <!-- form for saving match specific settings starts here -->


            <!--module league position-->
            {% with input=render_embedded_field(form.league_position_weight, current_weights[0].weight) %}
                {% include 'includes/module_league_position.inc.html' %}
            {% endwith %}
            <!-- /module league position -->

            <!--module form-->
            {% with input=render_embedded_field(form.form_weight, current_weights[1].weight) %}
                {% include 'includes/module_form.inc.html' %} 
            {% endwith %}
            <!-- /module form -->

            <!-- module home/away -->
            {% with input=render_embedded_field(form.home_away_weight, current_weights[2].weight) %}
                {% include 'includes/module_home_away.inc.html' %} 
            {% endwith %}
            <!-- /module home/away -->


    </div>
    <!--  /modules  -->

<!-- overall winner -->
<h2>Predicted Winner</h2>
<h2 id="teamWinner">{{ team_winner_name }}</h2>
<h2>{{ probability }}</h2>
<!-- /overall winner -->

{% if not savedmatch.committed %}
<div class="view-match-dashboard__buttons">
    {{ render_submit_field_match_preview(form.submit) }}
    
    <!-- form for saving match specific settings ends here -->

    <a href="{{ url_for('.commit_match', match_id=match.id) }}" class="btn btn-primary pull-right" id="commitToBet" style="margin-left: 1em;">Commit</a>
</div>
{% endif %}
</form>
</div>
{% endblock inner_wrapper %}
{% block scripts %}
    {{ super() }}
{% endblock %}