{% extends "base.html" %}
{% from 'includes/_macros.html' import render_embedded_field, render_submit_field, render_submit_field_match_preview,
teamkitimage %}
{% block title %}{{match.hometeam.name}} VS {{match.awayteam.name}}{% endblock %}
{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}
{% block inner_wrapper %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

<div class="view-match-dashboard container jumbotron">

        <ol class="breadcrumb">
            <li><a href="{{ url_for('.index') }}">Home</a></li>
            <li><a href="{{url_for('.dashboard') }}">Dashboard</a></li>
            <li class="active">Saved Match</li>
        </ol>

        <!-- match header  -->
        {% include 'includes/match_header.inc.html'  %}
        <!-- /match header -->

        <h2>Prediction Modules</h2>

        <!-- modules -->
        <div class="view-match-dashboard__modules">

            <!-- form for saving match specific settings starts here -->
            <form method="POST" class="form-horizontal" role="form">

            <!--module league position-->
            {% with input=render_embedded_field(form.league_position_weight, (100*current_weights[0].weight)|round|int if current_weights!=[] else '') %}
                {% include 'includes/module_league_position.inc.html' %}
            {% endwith %}
            <!-- /module league position -->

            <!--module form-->
            {% with input=render_embedded_field(form.form_weight, (100*current_weights[1].weight)|round|int if current_weights!=[] else '') %}
                {% include 'includes/module_form.inc.html' %} 
            {% endwith %}
            <!-- /module form -->

            <!-- module home/away -->
            {% with input=render_embedded_field(form.home_away_weight, (100*current_weights[2].weight)|round|int if current_weights!=[] else '') %}
                {% include 'includes/module_home_away.inc.html' %} 
            {% endwith %}
            <!-- /module home/away -->

            <!-- module hunch -->
            {% with input=render_embedded_field(form.user_hunch_weight, (100*current_weights[3].weight)|round|int if current_weights!=[] else '') %}
                {% include 'includes/module_hunch.inc.html' %} 
            {% endwith %}
            <!-- /module hunch -->
        </div>
        <!--  /modules  -->

        <!-- overall winner -->
        <div class="overall-winner row panel panel-warning" data="{{match.id}}">
            <div class="panel-heading">
                <h3 class="panel-title">Predicted Match Winner</h3>
            </div>
        <div class="panel-body">
            <h3>Predicted result for this match is: <span id="predictedMatchWinner">{{ team_winner_name }}
            {% if not team_winner_name=='Draw' %} is going to win {% endif %} </span>
            </h3>
            <h3>Based on your {% if current_weights!=[] %} match specific {% else %} default {% endif %} prediction settings, total probability is: <span id="predictedProbability">{{ probability|round(2) }}%</span></h3>

            <p class="module-hunch__info muted top-space">*Please, be adviced that probability of one of the teams to win can be maximum 100% (The higher the value, the higher is the probability).<br />If the total probability is equal to 0%, it means that the probability of either of teams to win is equal to 0%, therefore the prediction is <b>Draw</b>.</p>
        </div>
        </div>
        <!-- /overall winner -->

        {% if not savedmatch.committed %}
        <!-- set of buttons -->
        <div class="view-match-dashboard__buttons">
            {{ render_submit_field_match_preview(form.submit) }}
            
            <a href="{{ url_for('.commit_match', match_id=match.id) }}" class="btn btn-primary pull-right" id="commitToBet" style="margin-left: 1em;">Commit</a>
        </div>
        <!-- /set of buttons -->

        {% endif %}
        </form><!-- form for saving match specific settings ends here -->

</div>
{% endblock inner_wrapper %}
{% block scripts %}
{{ super() }}
{% endblock %}