{% extends "base.html" %}
{% from 'includes/__formhelpers.html' import render_field, render_submit_field, teamkitimage %}


{% block title %}Match view{% endblock %}

{% block header %}
<header id="head" class="secondary"></header>
{% endblock header %}

{% block inner_wrapper %}

<div class="container">

    <ol class="breadcrumb">
        <li><a href="{{ url_for('.index') }}">Home</a></li>
        <li><a href="{{url_for('.dashboard') }}">Dashboard</a></li>
        <li class="active">Saved Match</li>
    </ol>
    <!-- modules -->

    <!-- module intro -->
    <div class="module row panel panel-default" data="{{savedmatch.match_id}}">
        <div class="panel-body">

            <div class="away-team team col-xs-2 col-xs-offset-1 text-center">
                {{ teamkitimage(savedmatch, home=1) }}
                <span class="team-name clearfix">{{savedmatch.hometeam.name}}</span>
                <span class="team-form clearfix">{{savedmatch.hometeam.form}}</span>
                <span class="team-last-result">3:0 Norwich</span>
            </div>
            <div class="away-team team col-xs-2 col-xs-offset-1 text-center">
                {{ teamkitimage(savedmatch, home=2) }}
                <span class="team-name clearfix">{{savedmatch.awayteam.name}}</span>
                <span class="team-form clearfix">{{savedmatch.hometeam.form}}</span>
                <span class="team-last-result">3:0 Norwich</span>
            </div>

        </div>
    </div>
    <!-- /module intro -->

    <!--module league position-->
    <div class="module row panel panel-default" data="{{ savedmatch.match_id }}">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">League Position</h3>
            </div>

            <div class="home-team team col-xs-2 col-xs-offset-1 text-center">

                <span class="team-form clearfix">Position: {{ savedmatch.hometeam.position }} </span>
                <span class="team-last-result">3:0 Norwich</span>
            </div>
            <div class="away-team team col-xs-2 col-xs-offset-1 text-center">
                <span class="team-form clearfix">Position: {{ savedmatch.awayteam.position }} </span>
                <span class="team-last-result">3:0 Norwich</span>
            </div>
            <div class="away-team team col-xs-2 col-xs-offset-1 text-center">
                <span class="clearfix">Winner: {{ savedmatch.prediction_league_position.name }}</span>
            </div>

        </div>
    </div>
    <!-- /module league position -->

     <!--module form-->
    <div class="module row panel panel-default" data="{{savedmatch.match_id}}">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Form</h3>
            </div>

            <div class="home-team team col-xs-2 col-xs-offset-1 text-center">
                <span class="team-form clearfix">Form: {{ savedmatch.hometeam.form }} </span>

                <span class="team-last-result">3:0 Norwich</span>
            </div>
            <div class="away-team team col-xs-2 col-xs-offset-1 text-center">
                <span class="team-form clearfix">Form: {{ savedmatch.awayteam.form }} </span>
                <span class="team-last-result">3:0 Norwich</span>
            </div>
            <div class="away-team team col-xs-2 col-xs-offset-1 text-center">
                <span class="clearfix">Winner: {{ savedmatch.prediction_form.name }}</span>
            </div>

        </div>
    </div>
    <!-- /module form -->

    <!-- module home/away -->
    <div class="module row panel panel-default" data="{{savedmatch.match_id}}">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Home/Away</h3>
            </div>

            <div class="home-team team col-xs-2 col-xs-offset-1 text-center">
                <span class="team-form clearfix">Home Team: {{ savedmatch.hometeam.name }} </span>
            </div>
            <div class="away-team team col-xs-2 col-xs-offset-1 text-center">
                <span class="team-form clearfix">Away Team: {{ savedmatch.awayteam.name }} </span>
            </div>
            <div class="away-team team col-xs-2 col-xs-offset-1 text-center">
                <span class="clearfix">Winner: {{ savedmatch.prediction_homeaway.name }}</span>
            </div>
        </div>
    </div>
    <!-- module home/away -->

</div>

    {% include 'includes/prediction_settings_match.inc.html' %}

<!--  /modules  -->
<!-- overall winner -->
     <h2>Winner</h2>
      <h2 id="teamWinner">{{ team_winner_name }}</h2>
      <h2>{{ probability }}</h2>
<!-- /overall winner -->
<a href="{{ url_for('.commit_match', match_id=savedmatch.id) }}" class="btn btn-primary" id="commitToBet">Commit</a>

</div>
{% endblock inner_wrapper %}