.alert {
  width: 300px;
  text-align: center;
  position: absolute;
  top: 107px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 200;
  box-shadow: 0px 0px 5px #CCC;
}

.jumbotron {
  background-color: transparent;
}

.winner {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.orange {
  color: #FF8C00;
}

.impact {
  color: #F78A05;
  font-size: 1.625em;
  font-weight: bold;
  margin: 5px 0;
}

.super-impact {
  font-size: 3em !important;
  margin-top: 0em;
  padding-bottom: 4px;
  color: #007F7F;
}

.img-circle {
  border-radius: 50%;
}

.indented {
  margin-left: 20px;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  opacity: 0.79;
}

hr {
  border: 1px solid #e5e5e5;
}

ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #505050;
}
a:hover {
  text-decoration: none;
  color: #505050;
}

button > a {
  text-decoration: none;
  color: #FFFFFF;
}
button > a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

li.separate {
  margin: 4px 0 0 0;
  padding: 4px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.underlined-title {
  padding-bottom: 12px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.errors li {
  color: red;
}

.vs {
  font-size: 1.4em;
  margin: 26px 0;
  display: block;
  font-weight: bold;
}

.margin-top-20 {
  margin-top: 20px;
}

.box {
  display: inline-block;
  width: 1.5em !important;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: .1667em;
  padding: 0;
  color: white !important;
  border-radius: 3px;
}

.box.live {
  background-color: red;
  width: 2.5em !important;
}

.small-text {
  font-size: 0.9em;
  color: #777;
}

.separator {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 4px 8px;
  border-bottom-style: dotted;
  font-weight: bold;
  display: block;
}

/* Typography */
body#surething {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Layout specific */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.secondary-small {
  height: 100px;
  min-height: 100px;
  padding-top: 0px;
}

/* General styles */
/* Navbar */
.logo {
  margin-top: 13px;
}

.logo a, .logo--xs a {
  color: #FFFFFF;
}
.logo a:hover, .logo--xs a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.logo--xs {
  display: none;
  margin-top: 14px !important;
}

@media (max-width: 1034px) {
  .logo {
    display: none;
  }

  .logo--xs {
    display: block;
    margin-left: 1em;
  }

  .breadcrumb {
    display: none;
  }
}
.right-navbar-content p {
  color: white;
}
.right-navbar-content a:nth-child(0) {
  height: 42px;
}

/* Header */
.head {
  background: white url(../img/stadium2.jpg) no-repeat 30% 87%;
}

#head.secondary {
  height: 106px;
  min-height: 106px;
  padding-top: 0px;
}

.head .tagline {
  color: white;
  font-size: 1.2em;
  font-weight: 700;
}

#head .dashboard {
  visibility: hidden;
  padding-top: 100px;
  background: #FFFFFF;
  color: #505050 !important;
  height: 278px;
  min-height: initial;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

/* Nav pills */
#upcoming-past-nav > li > a {
  color: #505050;
}

#upcoming-past-nav .active > a {
  background-color: #F78A05;
  color: #FFFFFF;
}

/* Breadcrumb */
.breadcrumb {
  margin: 0;
}

.breadcrumb--with-margin {
  margin-left: 40px !important;
}

/* Inner wrapper */
/* Footer */
.footer1 .widget {
  font-size: 1.1em;
}
.footer1 .links ul {
  margin-left: 0px;
  padding-left: 0px;
}
.footer1 .links ul li {
  list-style: none;
  border-bottom: 1px solid #222;
  border-top: 1px solid #666;
  line-height: 40px;
}
.footer1 .links a {
  font-size: 1.1em;
}

/* Navigation  */
#upcoming-past-nav li.active {
  background-color: #FF9B22;
}

/* Matches Overview */
.matches-overview {
  font-family: 'Open Sans', sans-serif;
}

.match-date {
  font-size: 1.7em;
  padding: 0 0 15px 32px;
  margin: 40px 0 0 0;
}

.match {
  margin-left: auto !important;
  margin-right: auto !important;
  border-bottom: 1px solid #CCC;
  margin: 12px auto;
  width: 95%;
}

.kick-off {
  display: block;
  font-weight: normal;
}

.match__status {
  margin: 20px 0;
  font-size: 1em;
}

.team {
  margin-bottom: 30px;
}

.team-kit {
  height: 90px;
  width: 90px;
}

.modules .league-position-comparison {
  margin-top: 30px;
}

.match-buttons__button {
  margin: 10px;
}

.menu-wrap a {
  color: #666666;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #FF981C;
  text-decoration: none;
}

.content-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.content {
  position: relative;
  background: #b4bad2;
}

.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
  transition: opacity 0.4s, transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* Menu Button */
.menu-button {
  position: fixed;
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
}

.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
  content: '';
}

.menu-button:hover {
  opacity: 0.6;
}

/* Close Button */
.close-button {
  width: 1em;
  height: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.75em;
  border: none;
  background: transparent;
  color: transparent;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #bdc3c7;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
  -webkit-box-shadow: 10px 0 10px -10px #777;
  -moz-box-shadow: 10px 0 10px -10px #777;
  box-shadow: 10px 0 10px -10px #777;
  position: absolute;
  z-index: 1001;
  width: 300px;
  height: 100%;
  background: #F7F5F9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  -webkit-transform: translate3d(-320px, 0, 0);
  transform: translate3d(-320px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.menu,
.icon-list {
  height: 100%;
}

.icon-list {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.icon-list a {
  display: block;
  padding: 0.8em;
  -webkit-transform: translate3d(0, 500px, 0);
  transform: translate3d(0, 500px, 0);
}

.icon-list,
.icon-list a {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.icon-list a:nth-child(2) {
  -webkit-transform: translate3d(0, 1000px, 0);
  transform: translate3d(0, 1000px, 0);
}

.icon-list a:nth-child(3) {
  -webkit-transform: translate3d(0, 1500px, 0);
  transform: translate3d(0, 1500px, 0);
}

.icon-list a:nth-child(4) {
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}

.icon-list a:nth-child(5) {
  -webkit-transform: translate3d(0, 2500px, 0);
  transform: translate3d(0, 2500px, 0);
}

.icon-list a:nth-child(6) {
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
}

.icon-list a span {
  margin-left: 10px;
  font-weight: 400;
}

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-menu .icon-list a {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Legacy */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 70px;
  width: 150px;
  /*background: #222;*/
  position: fixed;
  /*height: 100%;*/
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}

#wrapper.active {
  padding-left: 150px;
}

#wrapper.active #sidebar-wrapper {
  left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon {
  float: right;
  padding-right: 65px;
  padding-top: 20px;
}

.sub_icon {
  float: right;
  padding-right: 65px;
  padding-top: 10px;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }

  #sidebar-wrapper {
    left: 70px;
  }

  #wrapper.active {
    padding-left: 150px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
  }
}
.dashboard {
  position: relative;
  min-height: 350px;
}

.dashboard__saved-matches {
  margin-top: 0;
  width: 100% !important;
}
.dashboard__saved-matches .team-kit {
  height: 90px;
  width: 90px;
}

.match__status {
  margin: 60px 0;
}

.match__predicted-winner {
  color: #FF981C;
  font-weight: bold;
  height: 20px;
  display: block;
}

.match--committed {
  color: #6A6A6A;
  background-color: #DDD;
}

/* Stats Block */
.stats-datapic-stat {
  max-width: 624px;
  max-width: 585px\9;
  margin: 1em 0;
  color: #404040;
  font-size: 16px;
  font-family: Arial;
}

.stats__title {
  font-size: 1.125em;
  font-weight: bold;
  padding: 8px 0 0 0;
}

.stats__header {
  margin-bottom: 12px;
}

.stats__separator {
  border-top: 1px solid #CCCCCC;
  padding-top: 15px;
}

.teamkits {
  overflow: hidden;
}

.teamkits--home, .teamkits--away {
  float: left;
  height: 90px;
  width: 90px;
}

/* Preferences Block */
.preferences__labels, .preferences__graph {
  overflow: hidden;
  width: 100%;
}

.preferences__label {
  float: left;
  height: 30px;
  color: #505050;
  border-right: 2px solid #FFFFFF;
}

.preferences__graph-bar {
  float: left;
  padding-top: 7px;
  height: 35px;
  text-indent: 10px;
  font-weight: bold;
  border-right: 2px solid #FFFFFF;
}
.preferences__graph-bar.away {
  background-color: #007F7F;
  direction: rtl;
}
.preferences__graph-bar.draw {
  background-color: lightgrey;
}
.preferences__graph-bar.home {
  background-color: #F78A05;
}

.view-match__buttons {
  margin-bottom: 20px;
  overflow: hidden;
}

.view-match-dashboard__buttons {
  margin-bottom: 20px;
  overflow: hidden;
}

.show-more-toggle a {
  color: #222;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.module-league-position__numbers {
  overflow: hidden;
}

.module-league-position__expand {
  margin-bottom: 1em;
}

team {
  width: 14em;
  padding: 5px 12px 0 0;
}

.grid td.tournament, .grid td.date {
  color: #808080;
  white-space: nowrap;
}

.grid th {
  padding: .292em .15em;
  font-weight: bold;
  color: #fff;
  background-color: #FF981C;
  text-align: left;
}

grid .alt td {
  background-color: #F2F2F2;
}

td.played {
  font-weight: bold;
}

.grid .result .result-1 {
  color: #fff;
  background-color: #8f8f8f;
  padding: 0.2em;
  display: block;
  width: 2.6em;
  text-align: center;
}

.team.home {
  text-align: right;
  margin-top: 20px;
}

.module-form__teamkits {
  overflow: hidden;
}

.last-6-fixtures table .result {
  width: 2.9em;
  padding-top: 25px;
  font-weight: bold;
  border-radius: 3px 3px 3px 3px;
}

.rc {
  border-radius: 3px 3px 3px 3px;
}

td {
  padding: .2em;
}

.module-league-position .league-position {
  color: orange;
  font-size: 1.2em;
}

.team-fixtures-content td {
  width: 30%;
}

.team-fixtures-content .home {
  text-align: left;
}

.team-fixtures-content .result a {
  display: block;
  padding: 0 .5em;
  color: #444;
  white-space: nowrap;
  color: #555;
  font-weight: bold;
  font-size: 1.3em;
}

.box.l {
  background-color: #ff5b00;
}

.box.w {
  background-color: #6cc72a;
}

.box.d {
  background-color: #b8b8b8;
}

.module-home-away__tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.module-home-away__tabs-header {
  font-weight: bold;
  font-size: 1.2em;
}

.module-home-away__tabs li.active {
  color: #222;
}

.module-home-away__content {
  display: none;
  padding: 15px;
}

@media (max-width: 768px) {
  .module-home-away__content .form > a {
    background: none;
    color: #777777 !important;
    width: 0.7em !important;
  }
}
.module-home-away__content.active {
  display: inherit;
}

.embedded-field__label {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  color: inherit;
  width: 66px;
}

.embedded-field__input {
  display: inline-block;
  vertical-align: middle;
}

.prediction-value {
  color: inherit;
  font-weight: 400 !important;
}

/** Social buttons for Bootstrap
  *	Author: Panayiotis Lipiridis, http://www.lip.is/;
  *	http://shapebootstrap.net/wp-content/plugins/shapebootstrap/demo.php?id=505
  */
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #30487b;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
  background-image: none;
}

.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook .badge {
  color: #3b5998;
  background-color: #fff;
}

/* User profile */
.user-profile {
  display: none;
  background: #181015 url(../img/soft_circle_scales.png);
  background-size: cover;
  min-height: 520px;
  text-align: center;
  padding-top: 240px;
  color: white;
  font-family: "Open sans", Helvetica, Arial;
  font-weight: 300;
}

.match {
  overflow: hidden;
}

.user-match__header .team-kit {
  height: 100%;
  width: 100%;
}

.user-match__header {
  overflow: hidden;
}

.user-match__header-info {
  padding: 0;
}

.user-match__prediction {
  padding-left: 1.5em;
}

.messages__no-messages {
  padding: 20px 0 0 40px;
}
