.jumbotron {
  background-color: transparent;
}

.orange {
  color: #FF981C;
}

.img-circle {
  border-radius: 50%;
}

.indented {
  margin-left: 20px;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  opacity: 0.79;
}

hr {
  border: 1px solid #e5e5e5;
}

li.separate {
  margin: 4px 0 0 0;
  padding: 4px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.underlined-title {
  padding-bottom: 12px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.errors li {
  color: red;
}

.vs {
  font-size: 1.4em;
  margin: 26px 0;
  display: block;
  font-weight: bold;
}

.margin-top-20 {
  margin-top: 20px;
}

/* Typography */
body#surething {
  font-family: 'Open Sans', sans-serif;
}

/* Layout specific */
.secondary-small {
  height: 100px;
  min-height: 100px;
  padding-top: 0px;
}

/* General styles */
/* Navbar */
.right-navbar-content p {
  color: white;
}
.right-navbar-content a:nth-child(0) {
  height: 42px;
}

/* Header */
.head {
  background: white url(../img/stadium2.jpg) no-repeat 30% 87%;
}

#head.secondary {
  height: 100px;
  min-height: 100px;
  padding-top: 0px;
}

#head .dashboard {
  visibility: hidden;
  padding-top: 100px;
  background: #FFFFFF;
  color: #505050 !important;
  height: 278px;
  min-height: initial;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

/* User profile */
.user-profile_image {
  /*margin: 0 auto -87px;*/
  margin: 0 auto;
  padding-top: 18px;
  position: relative;
  height: 80px;
  z-index: 104;
}
.user-profile_image img {
  border-radius: 100%;
  box-shadow: inset 0 0 0 -2px rgba(255, 255, 255, 0.48), 0 0 0 1px rgba(0, 0, 0, 0.14), 0 0 0 8px white;
  height: 60px;
  width: 60px;
}

.user-profile_fixed {
  background: #FFFFFF;
  left: 0;
  position: fixed;
  right: 0;
  top: 130px;
  z-index: 103;
}

.user-profile_info {
  padding: 14px;
  padding-bottom: 0px;
}

.user-profile_info-item {
  list-style-type: none;
}

.user-profile_infoMore-item {
  display: block;
  float: left;
  margin-left: 200px;
}

/* Forms */
/* Legacy */
.posts {
  margin: 0 auto;
}

.blog-post {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid gray;
}

.blog-post-title {
  /*margin-left: 140px;*/
  font-size: 18px;
}

.blog-post-meta {
  overflow: hidden;
  width: 99px;
  float: left;
  /* margin-left: 0; */
  padding-left: 0;
}

.blog-post-meta > li {
  text-decoration: none;
  list-style: none;
  display: block;
  float: left;
}

.meta-item-username {
  margin-top: 4px;
}

.blog-post-body {
  float: left;
  display: block;
  width: 80%;
  background-color: white;
  height: 83px;
  padding: 5px;
}

.blog-post-footer {
  display: block;
  clear: left;
  float: right;
  margin: 0px 5px 10px 0;
}

/* Footer */
.footer1 .widget {
  font-size: 1.1em;
}
.footer1 .links ul {
  margin-left: 0px;
  padding-left: 0px;
}
.footer1 .links ul li {
  list-style: none;
  border-bottom: 1px solid #222;
  border-top: 1px solid #666;
  line-height: 40px;
}
.footer1 .links a {
  font-size: 1.1em;
}

/* Navigation  */
#upcoming-past-nav li.active {
  background-color: #FF9B22;
}

/* Matches Overview */
#matches-overview {
  font-family: 'Open Sans', sans-serif;
}
#matches-overview .match-date {
  font-size: 1.7em;
  padding: 0 0 15px 32px;
  margin: 40px 0 0 0;
}
#matches-overview .row.match {
  margin-left: auto !important;
  margin-right: auto !important;
  border-bottom: 1px solid #CCC;
  margin: 12px auto;
  width: 95%;
}
#matches-overview .kick-off {
  display: block;
  font-weight: normal;
}
#matches-overview .team {
  margin-bottom: 30px;
}
#matches-overview .team-kit {
  height: 90px;
  width: 90px;
}

#modules .league-position-comparison {
  margin-top: 30px;
}

/* User profile */
.user_profile {
  display: none;
  background: #181015 url(../img/soft_circle_scales.png);
  background-size: cover;
  min-height: 520px;
  text-align: center;
  padding-top: 240px;
  color: white;
  font-family: "Open sans", Helvetica, Arial;
  font-weight: 300;
}

/** Social buttons for Bootstrap
  *	Author: Panayiotis Lipiridis, http://www.lip.is/;
  *	http://shapebootstrap.net/wp-content/plugins/shapebootstrap/demo.php?id=505
  */
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #30487b;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
  background-image: none;
}

.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook .badge {
  color: #3b5998;
  background-color: #fff;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 70px;
  width: 150px;
  /*background: #222;*/
  position: fixed;
  /*height: 100%;*/
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}

#wrapper.active {
  padding-left: 150px;
}

#wrapper.active #sidebar-wrapper {
  left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon {
  float: right;
  padding-right: 65px;
  padding-top: 20px;
}

.sub_icon {
  float: right;
  padding-right: 65px;
  padding-top: 10px;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }

  #sidebar-wrapper {
    left: 70px;
  }

  #wrapper.active {
    padding-left: 150px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
  }
}
#saved-matches {
  margin-top: 0;
  width: 100% !important;
}
#saved-matches .team-kit {
  height: 90px;
  width: 90px;
}
#saved-matches .committed_match {
  color: #6A6A6A;
  background-color: #DDD;
}
#saved-matches .predicted-winner {
  color: #FF981C;
  font-weight: bold;
  height: 20px;
  display: block;
}
#saved-matches .status {
  margin-bottom: 94px;
  padding-top: 58px;
}
