.posts {
    margin: 0 auto;
}
.blog-post {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid darkslategray;
}
.blog-post-title {
    /*margin-left: 140px;*/
    font-size: 18px;
}
.blog-post-meta {
    overflow: hidden;
    width: 99px;
    float: left;
    /* margin-left: 0; */
    padding-left: 0;
}
.blog-post-meta > li {
    text-decoration: none;
    list-style: none;
    display: block;
    float: left;
}
.meta-item-username {
    margin-top: 4px;
}
.blog-post-body {
    float: left;
    display: block;
    width: 80%;
    background-color: white;
    height: 83px;
    padding: 5px;
}
.blog-post-footer {
    display: block;
    clear: left;
    float: right;
    margin: 0px 5px 10px 0
}
.meta-author-avatar {

}

/* User profile viewable by others */
.vcard {
    overflow: hidden;
    display: block;
}
.left-column {
    width: 25%;
    float: left;
}
.right-column {
    float: left;
}

/* Comments */
.well-lg {
    overflow: hidden;
}
.comment img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    display: inline;
    float: left;
}
.comment-body {
    display: block;
    float: left;
    padding-left: 20px;
}
a.moderate {
    float: right;
}
/* Adding to the bootstrap */
.img-circle {
    border-radius: 50%;
}

/* User profile */

.user_profile {
    display: none;
    background: #181015 url(../img/soft_circle_scales.png);
    background-size: cover;
    min-height: 520px;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 300;
}
