$imgpath :'../img/';

@mixin team-kit($size: 90px) {
	height: $size;
    width: $size;
}
.jumbotron {
    background-color: transparent;
}
.orange {
    color: #FF981C;
}

.img-circle { border-radius: 50%; }
.indented { margin-left: 20px; }
.btn-round { 
    border-width: 1px;
    border-radius: 30px !important;
    opacity: 0.79; 
}
hr {
    border: 1px solid #e5e5e5;
}
li.separate {
    margin: 4px 0 0 0;
    padding: 4px 0 0 0;
    border-top: 1px solid rgba(255,255,255,0.15);
}
.underlined-title {
    padding-bottom: 12px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.errors li {
    color: red;
}
.vs {
		font-size: 1.4em;
        margin: 26px 0;
		display: block;
		font-weight: bold;
}
.margin-top-20 {
    margin-top: 20px;
}
