@mixin team-kit($size: 90px) {
	height: $size;
    width: $size;
}
.orange {
    color: #FF981C;
}
.img-circle { border-radius: 50%; }
.indented { margin-left: 20px; }
.btn-round { 
    border-width: 1px;
    border-radius: 30px !important;
    opacity: 0.79; 
}
hr {
    border: 2px solid #505050;
}
