/* Typography */
body#surething {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
/* Layout specific */
.secondary-small { height:100px; min-height: 100px; padding-top:0px; }

/* General styles */

/* Navbar */
.logo {
    margin-top: 13px;
}
.logo a, .logo--xs a {
    color: #FFFFFF;
    &:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
}
.logo--xs {
    display: none;
    margin-top: 14px!important;
}
@media (max-width: 1034px) {
    .logo {  display: none; }
    .logo--xs { display: block; margin-left: 1em;}
    .breadcrumb { display: none; }
}
.right-navbar-content {
    p {
        color: white;
    }
    a:nth-child(0) {
        height: 42px;
    }
}
/* Header */
.head { background: #FFFFFF url( ../img/stadium2.jpg) no-repeat 30% 87%; }
#head.secondary {height:106px; min-height:106px; padding-top:0px; }
.head .tagline { 
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}
#head .dashboard { 
    visibility: hidden;
    padding-top: 100px;
    background: #FFFFFF; 
    color: #505050!important;
    height: 278px; 
    min-height: initial; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22); 
}
/* Nav pills */
#upcoming-past-nav >li >a {
    color: #505050;
 }
 #upcoming-past-nav .active > a {
    background-color: #F78A05;
    color: #FFFFFF;
}

/* Breadcrumb */
.breadcrumb {
    margin: 0;
}
/* Footer */
.footer1 {
    .widget {
        font-size: 1.1em;
    }
    .links {
        ul {
        margin-left: 0px;
        padding-left: 0px; 
        }
        ul li {
            list-style: none;
            border-bottom: 1px solid #222;
            border-top: 1px solid #666;
            line-height: 40px;
        }
        a {
            font-size: 1.1em;
        }
    }
}
