/* Layout specific */
.secondary-small { height:100px; min-height: 100px; padding-top:0px; }

/* General styles */
.img-circle { border-radius: 50%; }
.indented { margin-left: 20px; }
.btn-round { 
    border-width: 1px;
    border-radius: 30px !important;
    opacity: 0.79; 
}
hr {
    border: 2px solid #505050;
}
/* Navbar */
.right-navbar-content {
    p {
        color: white;
    }
    a:nth-child(0) {
        height: 42px;
    }
}
/* Header */
.head { background: #FFFFFF url( ../img/stadium2.jpg) no-repeat 30% 87%; }
#head.secondary {height:100px; min-height: 100px; padding-top:0px; }
#head .dashboard { 
    visibility: hidden;
    padding-top: 100px;
    background: #FFFFFF; 
    color: #505050!important;
    height: 278px; 
    min-height: initial; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22); 
}

/* User profile */
.user-profile_image {
    /*margin: 0 auto -87px;*/
    margin: 0 auto;
    padding-top: 18px;
    position: relative;
    height: 80px;
    z-index: 104;
    img {
        border-radius: 100%;
        box-shadow: inset 0 0 0 -2px rgba(255, 255, 255, 0.48),0 0 0 1px rgba(0, 0, 0, 0.14),0 0 0 8px white;
        height: 60px;
        width: 60px;
    }
}
.user-profile_fixed {
    background: #FFFFFF;
    left: 0;
    position: fixed;
    right: 0;
    top: 130px;
    z-index: 103;
}
.user-profile_info {
    padding: 14px;
    padding-bottom: 0px;

}
.user-profile_info-item {
    list-style-type: none;
}
.user-profile_infoMore-item {
    display: block;
    float: left;
    margin-left: 200px;
}
/* Forms */


/* Legacy */
.posts {
    margin: 0 auto;
}
.blog-post {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid gray;
}
.blog-post-title {
    /*margin-left: 140px;*/
    font-size: 18px;
}
.blog-post-meta {
    overflow: hidden;
    width: 99px;
    float: left;
    /* margin-left: 0; */
    padding-left: 0;
}
.blog-post-meta > li {
    text-decoration: none;
    list-style: none;
    display: block;
    float: left;
}
.meta-item-username {
    margin-top: 4px;
}
.blog-post-body {
    float: left;
    display: block;
    width: 80%;
    background-color: white;
    height: 83px;
    padding: 5px;
}
.blog-post-footer {
    display: block;
    clear: left;
    float: right;
    margin: 0px 5px 10px 0
}
.meta-author-avatar {

}

/* Footer */
.footer1 {
    .links {
        ul {
        margin-left: 0px;
        padding-left: 0px; 
        }
        ul li {
            list-style: none;
            border-bottom: 1px solid #222;
            border-top: 1px solid #666;
            line-height: 40px;
        }
    }
}
