#saved-matches {
	.team-kit {
    	@include team-kit
	}
	.committed_match {
    	color: #6A6A6A;
    	background-color: #DDD;
	}
	.predicted-winner {
		color: #FF981C;
		font-weight: bold;
		height: 20px;
		display: block;
	}
}