.dashboard__inner {
	min-height: 22em;
}

#saved-matches {
	margin-top: 0;
	width: 100%!important;

	.team-kit {
    	@include team-kit
	}
	.committed_match {
    	color: #6A6A6A;
    	background-color: #DDD;
	}
	.predicted-winner {
		color: #FF981C;
		font-weight: bold;
		height: 20px;
		display: block;
	}
	
	.status {
		margin-bottom: 94px;
		padding-top: 58px;
	}
}