/* View upcoming match */
.view-match__buttons {
    @include buttons-bottom;
}
.view-match-dashboard__buttons {
    @include buttons-bottom; 
}
.winner {
    font-weight: bold;
}
.bold {
       font-weight: bold; 
}
.show-more-toggle a {
    color: #222;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.module-league-position__expand {
    margin-bottom: 1em;
}
team {
    width: 14em;
    padding: 5px 12px 0 0
}

.grid td.tournament, .grid td.date {
    color: #808080;
    white-space: nowrap;
}
.grid th {
    padding: .292em .15em;
    font-weight: bold;
    color: #fff;
    background-color: #FF981C;
    text-align: left;
}
grid .alt td {
    background-color: #F2F2F2;
}
td.played {
    font-weight: bold;
}
.grid .result .result-1 {
    color: #fff;
    background-color: #8f8f8f;
    padding: 0.2em;
    display: block;
    width: 2.6em;
    text-align: center;
}
.team.home {
    text-align: right;
    margin-top: 20px;
}
.last-6-fixtures table .result {
    width: 2.9em;
    padding-top: 25px;
    
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
}
.rc {
    border-radius: 3px 3px 3px 3px;
}
td {
    padding: .2em;
}
.module-league-position .league-position {
    color: orange;
    font-size: 1.2em;
}
.team-fixtures-content td {
    width: 30%;
}
.team-fixtures-content .home {
    text-align: left;
}
.team-fixtures-content .result a {
    display: block;
    padding: 0 .5em;
    color: #444;
    white-space: nowrap;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;
}
.box.l {
    background-color: #ff5b00;
}
.box.w {
    background-color: #6cc72a;
}
.box.d {
    background-color: #b8b8b8;
}
 .module_home_away__tabs {
        margin: 0;
        padding: 0;
        list-style: none;
}
.module_home_away__tabs-header {
    font-weight: bold;
    font-size: 1.2em;
}
/*.module_home_away__tabs li {
    background: none;
    color: #222222;
    display: inline-block;
    cursor: pointer;
}*/

.module_home_away__tabs li.active {
    /*background: #EDEDED;*/
    color: #222;
}

.module_home_away__content {
    display: none;
    padding: 15px;
}

.module_home_away__content.active{
    display: inherit;
}
    

/* Played matches */
.stats_datapic_stat {
    max-width: 624px;
    max-width: 585px\9;
    margin: 1em 0;
    color: #404040;
    font-size: 16px;
    font-family: Arial;
}

.stats_datapic_stat-- .stats_outer_wrapper .stats_inner_wrapper {
    max-width: 49%;
}
.stats_datapic_stat .stats_inner_wrapper .stats_title {
    font-size: 1.125em;
    font-weight: bold;
    padding: 8px 0 0 0;
}
.stats_datapic_stat .stats_inner_wrapper .stats_header {
    margin-bottom: 12px;
}
.stats_datapic_stat .stats_separator {
    border-top: 1px solid #CCCCCC;
}
.stats_datapic_stat .stats_outer_wrapper .stats_outer_wrapper_img_src {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 3px;
    font-size: 0.75em;
    font-weight: bold;
}
.stats_super_impact__fig {
    font-size: 3em!important;
    font-weight: bold!important;
    margin-top: 0em;
    padding-bottom: 4px;
    color: #007F7F;
}
.stats_impact__fig {
    color: #F78A05;
    font-size: 1.625em;
    font-weight: bold;
    margin: 5px 0;
}
.teamkits__home, .teamkits__away {
    float: left;
    height: 90px;
    width: 90px;
}
.users_prediction_preferences {
    padding: 20px 0;
    .labels, border_graph {
        overflow: hidden;
        width: 100%;
    }
    .label {
        float: left;
        height: 30px;
        color: #505050;
        font-size: 1.2em;
        border-right: 2px solid #FFFFFF;
        
    }
    .bar {
        float: left;
        padding-top: 7px;
        height: 35px;
        text-indent: 10px;
        font-weight: bold;
        border-right: 2px solid #FFFFFF;
        &.away {
            background-color: #007F7F;
            direction: rtl;
        }
        &.draw {
            background-color: lightgrey;
        }
        &.home {
            background-color: #F78A05;
        }

    }
}