team {
    width: 14em;
    padding: 5px 12px 0 0
}

.grid td.tournament, .grid td.date {
    color: #808080;
    white-space: nowrap;
}
.grid th {
    padding: .292em .15em;
    font-weight: bold;
    color: #fff;
    background-color: #FF981C;
    text-align: left;
}
grid .alt td {
    background-color: #F2F2F2;
}
.grid .result .result-1 {
    color: #fff;
    background-color: #8f8f8f;
    padding: 0.2em;
    display: block;
    width: 2.6em;
    text-align: center;
}
.team.home {
    text-align: right;
}
.result {
    width: 2.9em;
    
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
}
.rc {
    border-radius: 3px 3px 3px 3px;
}
td {
    padding: .2em;
}
.module-league-position .league-position {
    color: orange;
    font-size: 1.2em;
}
.team-fixtures-content td {
    width: 30%;
}
.team-fixtures-content .home {
    text-align: left;
}
.team-fixtures-content .result a {
    display: block;
    padding: 0 .5em;
    color: #444;
    white-space: nowrap;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;
}
.grid .form .box.l {
    background-color: #ff5b00;
}
.grid .form .box.w{
    background-color: #6cc72a;
}
.grid .form .box.d{
    background-color: #b8b8b8;
}
.grid .box {
    display: inline-block;
    width: 1.5em!important;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.grid .form .box {
    margin-right: .1667em;
    color: #fff!important;
    border-radius: 3px;
}