/* User profile */

.user_profile {
    display: none;
    background: #181015 url(../img/soft_circle_scales.png);
    background-size: cover;
    min-height: 520px;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 300;
}
