/* User profile */

.user-profile {
    display: none;
    background: #181015 url(../img/soft_circle_scales.png);
    background-size: cover;
    min-height: 520px;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 300;
}
.match {
	overflow: hidden;
}
.user-match__header .team-kit {
    height: 100%;
    width: 100%;
}
.teamkits__home, .teamkits__away {

}
.user-match__header {
    overflow: hidden;
}
.user-match__header-info {
    padding: 0;
}
.user-match__prediction {
    padding-left: 1.5em;
}
