/* Stats Block */
.stats-datapic-stat {
    max-width: 624px;
    max-width: 585px\9;
    margin: 1em 0;
    color: #404040;
    font-size: 16px;
    font-family: Arial;
}
.stats__title {
    font-size: 1.125em;
    font-weight: bold;
    padding: 8px 0 0 0;
}
.stats__header {
    margin-bottom: 12px;
}
.stats__separator {
    border-top: 1px solid #CCCCCC;
    padding-top: 15px;
}
.teamkits {
    overflow: hidden;
}
.teamkits--home, .teamkits--away {
    float: left;
    height: 90px;
    width: 90px;
}

/* Preferences Block */
.preferences__labels, .preferences__graph {
    overflow: hidden;
    width: 100%;
}
.preferences__label {
    float: left;
    height: 30px;
    color: #505050;
    border-right: 2px solid #FFFFFF;        
}
.preferences__graph-bar {
    float: left;
    padding-top: 7px;
    height: 35px;
    text-indent: 10px;
    font-weight: bold;
    border-right: 2px solid #FFFFFF;
    &.away {
        background-color: #007F7F;
        direction: rtl;
    }
    &.draw {
        background-color: lightgrey;
    }
    &.home {
        background-color: #F78A05;
    }
}