.view-match__buttons {
    @include buttons-bottom;
}
.view-match-dashboard__buttons {
    @include buttons-bottom; 
}
.show-more-toggle a {
    color: #222;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.module-league-position__expand {
    margin-bottom: 1em;
}
team {
    width: 14em;
    padding: 5px 12px 0 0
}

.grid td.tournament, .grid td.date {
    color: #808080;
    white-space: nowrap;
}
.grid th {
    padding: .292em .15em;
    font-weight: bold;
    color: #fff;
    background-color: #FF981C;
    text-align: left;
}
grid .alt td {
    background-color: #F2F2F2;
}
td.played {
    font-weight: bold;
}
.grid .result .result-1 {
    color: #fff;
    background-color: #8f8f8f;
    padding: 0.2em;
    display: block;
    width: 2.6em;
    text-align: center;
}
.team.home {
    text-align: right;
    margin-top: 20px;
}
.last-6-fixtures table .result {
    width: 2.9em;
    padding-top: 25px;
    
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
}
.rc {
    border-radius: 3px 3px 3px 3px;
}
td {
    padding: .2em;
}
.module-league-position .league-position {
    color: orange;
    font-size: 1.2em;
}
.team-fixtures-content td {
    width: 30%;
}
.team-fixtures-content .home {
    text-align: left;
}
.team-fixtures-content .result a {
    display: block;
    padding: 0 .5em;
    color: #444;
    white-space: nowrap;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;
}
.box.l {
    background-color: #ff5b00;
}
.box.w {
    background-color: #6cc72a;
}
.box.d {
    background-color: #b8b8b8;
}
 .module-home-away__tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}
.module-home-away__tabs-header {
    font-weight: bold;
    font-size: 1.2em;
}

.module-home-away__tabs li.active {
    color: #222;
}
.module-home-away__content {
    display: none;
    padding: 15px;
}

.module-home-away__content.active{
    display: inherit;
}
.embedded-field__label {
    display: inline-block;
    vertical-align: middle; 
    font-weight: normal;
    color: inherit;   
}

.embedded-field__input {
    display: inline-block;
    vertical-align: middle;
}
.prediction-value {
    color: inherit;
    font-weight: 400!important;
}