
/* Layout styles */
#calculator-mvc {
    margin: 0;
    width: 624px;
    font-size: 16px;   
}
.container-inner {
	padding-left: 1em;
    width: 100%;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
	width: 624px;
	height: 190px;
	padding: 1em 0 1em 1em;
}
.header__title {
	font-size: 2.461em;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 34px;
	color: darken($bbc-grey, 10%);
	padding-bottom: 0.6em;
}
.header__description {
	font-weight: bold;
}

/* Choices */
.choices {
	overflow: hidden;
    width: 230px;
}
.choices__gender {
    width: 100%;
    height: 80px;
    position: relative;
    float: left;
    margin-right: 1px;
    background-color: #EAEAEA;
}
.choices__genderTitle {
	font-weight: bold;
	font-size: 1.384em;
	font-family: Helvetica;
	line-height: 1em;
	padding: 9px 0 0 8px;
	margin: 0;
	width: 90px;
	position: absolute;
	top: 0;
}
.choices__genderSelect {
	@include reset;
	position: absolute;
	bottom: 4px;
}

.choices__gender-select-item {
	width: 112px;
	height: 46px;
	float: left;
	position: relative;
	background: url("#{$imgpath}male-off.png") no-repeat 74px 0px;
	&:last-child {
		background: url("#{$imgpath}female-off.png") no-repeat 90px 0px;
	}

	label {
		position: absolute;
		width: 43px;
		top: 16px;
		left: 35px;
	}

	input {
		top: 16px;
		left: 6px;
		position: absolute;
		width: 24px;
	}
}

/* Results */
.results {
	width: 230px;
	visibility: hidden;		
	height: 180px;
	position: relative;
}
.results__header {
	position: absolute;
	top: 8px;
	left: 8px;
	@include reset;
	font: bold 0.9em/16px;
	color: $bbc-grey;
}
.results__item {
	@include transparentResultsBg;
	width: 100%;
	height: 100%;
}
.results__absolute {
	position: absolute;
	width: 150px;
	left: 16px;
	top: 44px;
	.percentage {
		color: $your-choice;
		font: bold 48px/1em Arial;
	}

	.your-choice {
	    margin-bottom: 4px;
	    text-align: left;
	    width: 170px;
	}

	.number {
		font-size: 1em;
		margin-bottom: 19px;
	}
	p {
		@include reset;
		display: block;
		font: normal 1em/1em Arial;
		span {
			padding-left: 7px;
		}
	}
				
}

.results__relative {
	   position: absolute;
	   right: 8px;
	   top: 63px;
	h4 {
		color: $bbc-grey;
	    font: bold 1em/1em Arial;
	    margin: 0 auto;
        height: 24px;
        width: 24px;
	    padding: 10px 10px 8px 10px;
	}
	.down {
	    background: url("#{$imgpath}arrowpngs/green.png") no-repeat scroll center bottom transparent;		
	    }
    .up {
    	background: url("#{$imgpath}arrowpngs/red.png") no-repeat scroll center top transparent;
    }
	p {
		text-align: center;
		font: normal .8em Arial;
	}
}
			
/* Utility */
.clear {
    clear: both;
}