{# All macros are using bootstrap css styles #}

{# Macro to render standard form fields #}
{% macro render_field(field) %}
    <div class="top-margin">
      {{ field.label }} <span class="text-danger">*</span>
      {{ field(class_="form-control", required="true", autofocus="true")|safe }}
    </div>
    {% if field.errors %}
      <ul class=errors>
        {% for error in field.errors %}
              <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}


{% endmacro %}

{# Macro to render checkboxes #}
{% macro render_checkbox(field) %}
  <div class="col-lg-8">
    {{ field }} {{ field.label }}
  </div>
{% endmacro %}

{# Macro to render a submit form field #}
{% macro render_submit_field(field) %}
  <div class="col-lg-4 text-right pull-right">
      {{ field(class_="btn btn-action") }}
  </div>
{% endmacro %}

{% macro teamkitimage(teamname='Chelsea', where=1, match) %}
    {{teamname}}
    <img src="{{url_for('static', filename='img/kits/Chelsea_' + str(where) + '.png', _external=True) }}" class="team-kit" alt="{{match.awayteam.name}}"/>
{% endmacro %}

