{# All macros are using bootstrap css styles #}

{# Macro to render standard form fields #}
{% macro render_field(field) %}
<div class="top-margin">
    {{ field.label }} <span class="text-danger">*</span>
    {{ field(class_="form-control", required="true", autofocus="true")|safe }}

</div>
{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}


{% endmacro %}

{# Macro to render checkboxes #}
{% macro render_checkbox(field) %}
<div class="col-lg-8">
    {{ field }} {{ field.label }}
</div>
{% endmacro %}

{# Macro to render a submit form field #}
{% macro render_submit_field(field) %}
<div class="col-lg-4 text-right pull-right">
    {{ field(class_="btn btn-action") }}
</div>
{% endmacro %}

{# Macro to render a team image #}
{% macro teamkitimage(match, home=1) %}
    {% set img_url = '' %}

    {% if home == 1 %}
        {% set img_url = 'img/kits/' + match.hometeam.id ~ '_1.png' %}
    {% else %}
        {% set img_url = 'img/kits/' + match.awayteam.id ~ '_2.png' %}
    {% endif %}
    <img src="{{ url_for('static', filename=img_url, _external=True) }}" class="team-kit" alt="{{match.awayteam.name}}" />
{% endmacro %}

