{# All macros are using bootstrap css styles #}

{# Macro to render standard form fields #}
{% macro render_field(field, value="") %}
<div class="top-margin">
    {{ field.label }} <span class="text-danger">*</span>
    {{ field(class_="form-control", required="false", autofocus="true", value=value)|safe }}
</div>
{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{# Macro to render checkboxes #}
{% macro render_checkbox(field) %}
<div class="col-lg-8">
    {{ field }} {{ field.label }}
</div>
{% endmacro %}

{# Macro to render a submit form field #}
{% macro render_submit_field(field) %}
<div class="col-lg-5 text-right pull-right">
    {{ field(class_="btn btn-action") }}
</div>
{% endmacro %}

{# Macro to render a submit form field for math preview #}
{% macro render_submit_field_match_preview(field) %}
    {{ field(class_="btn btn-action col-sm-1 col-sm-offset-9") }}
{% endmacro %}

{# Macro to render a team image #}
{% macro teamkitimage(match, home=1) %}
    {% set img_url = '' %}

    {% if home == 1 %}
        {% set img_url = 'img/kits/' + match.hometeam.id ~ '_1.png' %}
    {% else %}
        {% set img_url = 'img/kits/' + match.awayteam.id ~ '_2.png' %}
    {% endif %}
    <img src="{{ url_for('static', filename=img_url, _external=True) }}" class="team-kit" alt="{{match.awayteam.name}}" />
{% endmacro %}

{# Macro to render embedded form fields #}
{% macro render_embedded_field(field, value="") %}
<div class="top-margin">
    {{ field(class_="form-control", required="false", autofocus="true", value=value)|safe }}
</div>
{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{# TODO Macro to render a team image for user profile #}
{% macro teamkitimageprofile(name) %}
    {% set img_url = '' %}

    {% if home == 1 %}
        {% set img_url = 'img/kits/' + match.hometeam.id ~ '_1.png' %}
    {% else %}
        {% set img_url = 'img/kits/' + match.awayteam.id ~ '_2.png' %}
    {% endif %}
    <img src="{{ url_for('static', filename=img_url, _external=True) }}" class="team-kit" alt="{{match.awayteam.name}}" />
{% endmacro %}

{% macro win_loss_draw_icon(match, home) %}
    {% if home==True %}
        {% set team = match.hometeam %}
    {% else %}
        {% set team = match.awayteam %}
    {% endif %}

    {% if team.last_match.outcome=='W' %}
        <img src="{{ url_for('static', filename='img/win.png', _external=True) }}" height="15"/>
    {% elif team.last_match.outcome=='L'  %}
        <img src="{{ url_for('static', filename='img/loss.png', _external=True) }}" height="15"/>
    {% else %}
        <img src="{{ url_for('static', filename='img/draw.png', _external=True) }}" height="15"/>
    {% endif %}
{% endmacro %}
