<!--comments include-->
{% from 'includes/__formhelpers.html' import render_field %}
<div class="comments panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
    </div>
    {% if current_user.can(Permission.COMMENT) and form %}
    <form method="POST" role="form">
        <dl>
            {{ render_field(form.body_html) }}
            {{ form.submit() }}
        </dl>
    </form>
    {% endif %}

    <div class="panel-body">
        {% for comment in comments %}
        {% if not moderate and comment.disabled %}
        <div class="comment well well-lg">
            <p><i>This comment was disabled by the moderators</i></p>
        </div>
        {% endif %}
        {% if moderate or not comment.disabled %}
        <div class="comment well well-lg">
            <a href="/account"><img alt="" class="avatar" data-user="{{comment.author.username}}" height="20" width=20
                                    src="{{comment.author.avatar()}}"></a>

            <div class="comment-body">
                {% if comment.body %}
                <!-- "safe" options tells jinja not to escape the html elements -->
                {{ comment.body | safe }}
                {% endif %}
            </div>
            {% if moderate %}
            {% if comment.disabled %}
            <a class="btn btn-success moderate" href="{{url_for('.moderate_enable', id=comment.id) }}" role="button">Enable</a>
            {% else %}
            <a class="btn btn-danger moderate" href="{{url_for('.moderate_disable', id=comment.id) }}" role="button">Disable</a>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!--/comments include-->