    <div class="footer">

                <div class="innerFooter">

                    <div class="container">

                      <div class="row">

        <div class="col-md-4 links">

            <h3><i class="glyphicon glyphicon-link"></i> Links</h3>

            <ul>
                <li><a href="http://www.getroost.co.uk/home">Home</a></li>
                <li><a href="http://www.getroost.co.uk/faq">About</a></li>
                <li><a href="http://www.getroost.co.uk/faq">Help</a></li>
                <li><a href="https://getroost.uservoice.com">Forums &amp; Feedback</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="https://twitter.com/GetRoost" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/getroost" target="_blank">Facebook</a></li>
                <li><a href="http://www.getroost.co.uk/terms">Terms &amp; Conditions</a></li>
                <li><a href="http://www.getroost.co.uk/privacy">Privacy Policy</a></li>
            </ul>

        </div><!-- close col md 4 -->

        <div class="col-md-4" data-twttr-id="twttr-sandbox-0">

            <h3><i class="glyphicon glyphicon-comment"></i> Twitter</h3>

            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" allowfullscreen="" style="border: none; max-width: 100%; min-width: 180px; width: 390px;" title="Twitter Timeline" height="360"></iframe>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div><!-- close col md 4 -->

        <div class="col-md-4">

            <h3><i class="glyphicon glyphicon-star-empty"></i> Blog</h3>

            <div class="newsContainer">

            </div><!-- close news container -->

            <a href="http://blog.getroost.co.uk" target="_blank" class="btn btn-info">View the Blog</a>

        </div><!-- close col md 4 -->

    </div><!-- close row -->

    <div class="row">

        <div class="col-md-12">

            <p class="copyright">© Copyright Roost 2014 - Version 0.9</p>

        </div><!-- close col md 12 -->

    </div><!-- close row -->
                    </div><!-- close container -->

                </div><!-- close innerFooter -->

            </div>