<header class="head">
    <div class="container">
        <div class="row">
            <h1 class="lead">Welcome to the SureThing!</h1>

            <p class="tagline">Betting personal assistant</p>

            <p>
                <a class="btn btn-social-icon btn-lg btn-facebook" role="button">SIGN IN WITH FACEBOOK</a>
                </a>OR
                <a class="btn btn-action btn-lg" role="button" href="{{url_for('auth.register') }}">REGISTER NOW</a>
            </p>
        </div>
    </div>
</header>