<!--header menu include-->
<ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
                <li class="auth"><a href="{{url_for('auth.logout') }}" >Sign Out</a></li>
                <li class="auth">Hello, {{ current_user.username }}!</li>
                <li class="auth"><a href="{{ url_for('auth.profile', user=current_user.username) }}">My profile</a></li>
                <li class="auth"><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>

            {% else %}
                <li class="auth"><a href="{{url_for('auth.login') }}"> Sign In</a></li>
            {% endif %}

            {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li class="auth"><a href="{{url_for('main.moderate') }}"> Moderate comments </a></li>
            {% endif %}
             <li class="auth"> New User? <a href="{{url_for('auth.register') }}">Register Now</a></li>
</ul>
<p color='#FFFFFF'>{{current_user.is_administrator()}}</p>
<!--/header menu include -->