{% from 'includes/_macros.html' import teamkitimage, win_loss_draw_icon %}
<div class="match-header row panel panel-default top-space" data="{{match.id}}">
   <div class="panel-body">
      <div class="away-team team col-sm-2 {% if match.was_played %}col-sm-offset-2{% else %}col-sm-offset-1{% endif %} text-center">
         <h4 class="team-name">{{match.hometeam.name}}</h4>
         {{ teamkitimage(match, home=1) }}
         <div class="clearfix"></div>
         <span class="win team-last-result">{{match.hometeam.last_match.score}} {{match.hometeam.last_match.opponent_name}}</span>
         {{ win_loss_draw_icon(match, home=True) }}
      </div>
      <div class="info-block col-sm-2 col-sm-offset-1 text-muted text-center margin-top-20">
         {% if match.was_played %}
            <h3 class="match-header__score bold"> {{match.hometeam_score}} : {{match.awayteam_score}} </h3>
         {% else %}
            <span class="vs clearfix">VS.</span>
         {% endif %}
         <span class="clearfix"> Date: {{match.date}}</span>
         <span class="clearfix">Kick off: {{match.time}} </span>

      </div>
      <div class="away-team team col-sm-2 col-sm-offset-1 text-center">
         <h4 class="team-name">{{match.awayteam.name}}</h4>
         {{ teamkitimage(match, home=2) }}
         <div class="clearfix"></div>
         <span class="win team-last-result">{{match.awayteam.last_match.score}} {{match.awayteam.last_match.opponent_name}}</span>
         {{ win_loss_draw_icon(match, home=False) }}
      </div>
   </div>
</div>