{% from 'includes/_macros.html' import teamkitimage, win_loss_draw_icon %}
<div class="module-home-away module row panel panel-default" data="{{match.id}}">
   <div class="panel-heading">
      <h3 class="panel-title">Module Home/Away</h3>
   </div>
   <div class="panel-body">
  
   <div class="comparison col-sm-10 top-space">

    <!-- /nav tabs -->
    <ul class="module-home-away__tabs nav nav-tabs">
        <li class="module-home-away__tab col-xs-6 active" role="presentation" data-tab="home-tab">
            <a href="#">
                <span class="clearfix module-home-away__tabs_header">
                    Home team performance home/away
                </span>
                <span class="clearfix text-muted">{{match.hometeam.name}}</span>
            </a>
        </li>
        <li class="module-home-away__tab col-xs-6" role="presentation" data-tab="away-tab">
            <a href="#">
                <span class="clearfix module-home-away__tabs_header">
                    Away team performance home/away
                </span>
                <span class="clearfix text-muted">{{match.awayteam.name}}</span>
            </a>
        </li>         
    </ul>
    <!-- /nav tabs -->

      <!-- hometeam performance comparison -->
      <div id="home-tab" class="module-home-away__content active home-tab">

         <table id="form-grid" class="table table-condensed table-striped text-muted grid">
            <thead>
               <tr>
                  <th class="position" data-property="Position">Performance</th>
                  <th class="team" data-property="TeamName">Team</th>
                  <th class="p" data-property="P" title="Played">P</th>
                  <th class="w" data-property="W" title="Win">W</th>
                  <th class="d" data-property="D" title="Draw">D</th>
                  <th class="l" data-property="L" title="Loss">L</th>
                  <th class="gf" data-property="GF" title="Goals For">GF</th>
                  <th class="ga" data-property="GA" title="Goals Against">GA</th>
                  <th class="gd" data-property="GD" title="Goal Difference">GD</th>
                  <th class="pts" data-property="Pts" title="Points">Pts</th>
                  <th class="form" data-property="F" title="Form">Form</th>
               </tr>
            </thead>
            <tbody>
            {% with home = match.hometeam.form_home_away.home %}
               <tr>
                  <td>At Home</td>
                  <td>{{home.name}}</td>
                  <td class="played">6</td>
                  <td>{{home.w}}</td>
                  <td>{{home.d}}</td>
                  <td>{{home.l}}</td>
                  <td>{{home.gf}}</td>
                  <td>{{home.ga}}</td>
                  <td>{{home.gd}}</td>
                  <td>{{home.pts}}</td>
                  <td class="form">
                  {% set count = 0 %}
                    {% for ch in home.form %}
                     <a href="" class="box 
                      {% if ch=='W' %} w {% elif ch=='D' %} d {% else %} l {% endif %}">{{ch}} </a>
                     {% set count = count + 1 %}
                    {% endfor %}    
                  {% set count = 0 %}     
                  </td>                  
               </tr>
               {% endwith %}
               {% with away = match.hometeam.form_home_away.away %}
               <tr>
                  <td>Away</td>
                  <td>{{away.name}}</td>
                  <td class="played">6</td>
                  <td>{{away.w}}</td>
                  <td>{{away.d}}</td>
                  <td>{{away.l}}</td>
                  <td>{{away.gf}}</td>
                  <td>{{away.ga}}</td>
                  <td>{{away.gd}}</td>
                  <td>{{away.pts}}</td>
                  <td class="form">
                  {% set count = 0 %}
                    {% for ch in away.form %}
                     <a href="" class="box 
                      {% if ch=='W' %} w {% elif ch=='D' %} d {% else %} l {% endif %}">{{ch}} </a>
                     {% set count = count + 1 %}
                    {% endfor %}    
                    {% set count = 0 %}     
                  </td>
               </tr>
            </tbody>
         </table>
      <!-- /hometeam performance comparison -->

      <!-- teamkit >
      <div class="teamkits col-md-10 top-space">
         <div class="teamkits__away text-center">
           {{ teamkitimage(match, home=2) }}
           <span class="team_name clearfix">{{match.awayteam.name}}</span>
        </div>
     </div>
     < teamkit -->
    <p>For the last 6 matches at home</p>

    <p>Points representing performance for the Home team in the upcoming match: <b>{{match.hometeam.form_home_away.home.pts}} pts</b></p>
    {% endwith %}
     </div>

      <!-- awayteam performance comparison -->
      <div id="away-tab" class="module-home-away__content home-tab">
         <table id="form-grid" class="table table-condensed table-striped text-muted grid">
            <thead>
               <tr>
                  <th class="position" data-property="Position">Performance</th>
                  <th class="team" data-property="TeamName">Team</th>
                  <th class="p" data-property="P" title="Played">P</th>
                  <th class="w" data-property="W" title="Win">W</th>
                  <th class="d" data-property="D" title="Draw">D</th>
                  <th class="l" data-property="L" title="Loss">L</th>
                  <th class="gf" data-property="GF" title="Goals For">GF</th>
                  <th class="ga" data-property="GA" title="Goals Against">GA</th>
                  <th class="gd" data-property="GD" title="Goal Difference">GD</th>
                  <th class="pts" data-property="Pts" title="Points">Pts</th>
                  <th class="form" data-property="F" title="Form">Form</th>
               </tr>
            </thead>
            <tbody>
              {% with home = match.awayteam.form_home_away.home %}
               <tr>
                  <td>At Home</td>
                  <td>{{home.name}}</td>
                  <td class="played">6</td>
                  <td>{{home.w}}</td>
                  <td>{{home.d}}</td>
                  <td>{{home.l}}</td>
                  <td>{{home.gf}}</td>
                  <td>{{home.ga}}</td>
                  <td>{{home.gd}}</td>
                  <td>{{home.pts}}</td>
                  <td class="form">
                  {% set count = 0 %}
                    {% for ch in home.form %}
                     <a href="" class="box 
                      {% if ch=='W' %} w {% elif ch=='D' %} d {% else %} l {% endif %}">{{ch}} </a>
                     {% set count = count + 1 %}
                    {% endfor %}    
                    {% set count = 0 %}     
                  </td>
               </tr>
               {% endwith %}
               {% with away = match.awayteam.form_home_away.away %}
               <tr>
                  <td>Away</td>
                  <td>{{away.name}}</td>
                  <td class="played">6</td>
                  <td>{{away.w}}</td>
                  <td>{{away.d}}</td>
                  <td>{{away.l}}</td>
                  <td>{{away.gf}}</td>
                  <td>{{away.ga}}</td>
                  <td>{{away.gd}}</td>
                  <td>{{away.pts}}</td>
                  <td class="form">
                  {% set count = 0 %}
                    {% for ch in away.form %}
                     <a href="" class="box 
                      {% if ch=='W' %} w {% elif ch=='D' %} d {% else %} l {% endif %}">{{ch}} </a>
                     {% set count = count + 1 %}
                    {% endfor %}    
                    {% set count = 0 %}     
                  </td>
               </tr>
               
            </tbody>
         </table>
        <p>For the last 6 matches away</p>
        <p>Points representing performance for the Away team in the upcoming match: <b>{{away.pts}} pts</b></p>
        {% endwith %}

        </div>
      <!-- /awayteam performance comparison -->
    </div>

    <!-- module home/away result  -->
      <div class="module-home-away__prediction col-sm-2">
         <p class="prediction-value clearfix">Prediction Value: {{ match.prediction_homeaway }}%</p>
         {{ input }}
      </div>
    <!-- /module home/away result -->

</div>
</div>