{{ moment.include_moment() }}

<div class="module-form module row panel panel-default" data="{{match.id}}">
   <div class="panel-heading">
      <h3 class="panel-title">Module Form</h3>
   </div>
   <div class="panel-body">
      <div class="home-team team col-sm-2 col-xs-offset-1 text-center">
         <span class="team-form clearfix">Form: {{match.hometeam.form}} </span>
      </div>
      <div class="away-team team col-sm-2 col-xs-offset-1 text-center">
         <span class="team-form clearfix">Form: {{match.awayteam.form}} </span>
      </div>

      <div class="last-6-fixtures col-sm-10">
         <div class="last-6-fixtures__home col-sm-6">
            <table class="table table-condensed table-striped text-muted grid">
               <tbody>

                  {% for last_match in match.hometeam.last_matches %}
                  <tr class="alt ">
                     <td>
                        <ul style="text-align: left">
                           <li class="team home
                           {% if last_match.hometeam==match.hometeam.name %} winner
                              {% endif %}
                           ">
                              <span class="team" title="{{ last_match.hometeam }}">
                                 {{ last_match.hometeam }}
                              </span>
                           </li>
                        </ul>
                     </td>
                     <td class="result">
                        <a href="{{ url_for('.view_played_match', match_id=last_match.id) }}">{{ last_match.score }}</a></td>
                     <td>
                        <ul>
                           <li class="date ta-right">{{ last_match.date}}</li>
                           <li class="team away{% if last_match.awayteam==match.hometeam.name %} winner{% endif %}">
                              <span class="team" title="{{ last_match.awayteam }}">
                                 {{ last_match.awayteam }}
                              </span>
                           </li>
                           </li>
                        </ul>
                     </td>
                     <td class="form">
                        <span class=" box{% if last_match.outcome=='W' %} w {% elif last_match.outcome=='D' %} d {% else %} l {% endif %}">{{last_match.outcome}}</span>
                     </td>
                  </tr>
                  {% endfor %}
                  
               </tbody>

            </table>
         </div>
         <div class="last-6-fixtures__away col-sm-6">
            <table class="table table-condensed table-striped text-muted grid">
               <tbody>

                  {% for last_match in match.awayteam.last_matches %}
                  <tr class="alt ">
                     <td>
                        <ul style="text-align: left">
                           <li class="team home
                           {% if last_match.awayteam==match.hometeam.name %} winner
                              {% endif %}
                           ">
                              <span class="team" title="{{ last_match.hometeam }}">
                                 {{ last_match.hometeam }}
                              </span>
                           </li>
                        </ul>
                     </td>
                     <td class="result">
                        <a href="{{ url_for('.view_played_match', match_id=last_match.id) }}">{{ last_match.score }}</a></td>
                     <td>
                        <ul>
                           <li class="date ta-right">{{ last_match.date }}</li>
                           <li class="team away{% if last_match.awayteam==match.awayteam.name %} winner {% endif %}">
                              <span class="team" title="{{ last_match.awayteam }}">
                                 {{ last_match.awayteam }}
                              </span>
                           </li>
                           </li>
                        </ul>
                     </td>
                     <td class="form">
                        <span class=" box {% if last_match.outcome=='W' %} w {% elif last_match.outcome=='D' %} d {% else %} l {% endif %}">{{last_match.outcome}}</span>
                     </td>
                  </tr>
                  {% endfor %}
               
               </tbody>

            </table>
         </div>
         

      </div>

   <!-- module form result  -->
   <div class="away-team team col-sm-2 text-center">
      <span class="clearfix">Winner: {{ match.prediction_form.name }}</span>
      {{ input }}
   </div>
   <!-- /module form result -->
      
   </div>

</div>