<!-- navbar -->
<div id="navbar" class="navbar navbar-inverse navbar-fixed-top headroom animated slideDown">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/"><img src="{{url_for('static', filename="img/logo.png", _external=True) }}"
                height="64px" width="64px" alt="#" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="{{ url_for('main.dashboard') }}">DASHBOARD</a></li>
                <li><a href="help.html">HELP</a></li>
                {% if not current_user.is_authenticated() %}
                <li class="indented"><a href="{{url_for('auth.login') }}">LOG IN</a></li>
                <li><a class="btn" href="{{url_for('auth.register') }}">REGISTER</a></li>
                {% else %}
                <li class="right-navbar-content">
                    <a class="pull-left" href="{{url_for('.dashboard') }}">
                        <img alt="avatar" class="img-circle pull-left" data-user="{{user.id}}" height="25" width="25"
                             src="{{user.avatar()}}"/>

                        <p class="pull-left">{{user.username}}</p>
                    </a>
                    <a class="pull-left" id="messages" href="{{url_for('main.messages') }}">

                        <span class="glyphicon glyphicon-envelope
                        {% if current_user.list_new_messages %}orange{% endif %}" area="hidden" id="navMessages"></span>

                    </a>
                    <a class="pull-left" id="logout" href="{{url_for('auth.logout') }}">
                        <span class="glyphicon glyphicon-log-out" area="hidden"></span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /navbar -->