{% extends "bootstrap/base.html" %}
{% block title %} Sure thing {% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_styles.css', _external=True) }}" />
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css', _external=True) }}" />

    <!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	    <script src="assets/js/html5shiv.js"></script>
	    <script src="assets/js/respond.min.js"></script>
	<![endif]-->

{% endblock %}

{% block navbar %}
<!--header menu-->
    {% include 'includes/header_menu.inc.html' %}
<!--/header menu-->
{% endblock %}

{% block content %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="inner_container">
            {% block inner_container %}
            {% endblock %}
            {% include 'includes/footer.inc.html' %}
        </div>
{% endblock %}
{% block footer %}

{% endblock %}



{% block scripts %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/basic.js', _external=True) }} "></script>
{% endblock %}