{% extends "bootstrap/base.html" %}
{% block body_attribs %} class="home"{% endblock %}

<html>

    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon" />
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='cssall/main.css', _external=True) }}" />

    {% endblock styles %}
    {% block title %} {{ super() }} Sure thing {% endblock title %}
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
       <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
       <![endif]-->

{% block navbar %}
<!--header menu-->
    {% include 'includes/navbar.inc.html' %}
<!--/header menu-->
{% endblock navbar %}

{% block content %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="inner_container">
            {% block inner_container %}
            {% endblock %}
            {% include 'includes/footer.inc.html' %}
        </div>
{% endblock content %}

{% block footer %}
    {[ super() ]}
{% endblock footer %}


{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/basic.js', _external=True) }} "></script>
    {{ super() }}
{% endblock scripts %}
