{% extends "bootstrap/base.html" %}
{% block body_attribs %} class="home" id="surething"{% endblock %}
{% block html_attribs %} {% endblock %}

<html>
    {% block head %}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png', _external=True) }}">
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='cssall/main.css', _external=True) }}" />

    {% endblock styles %}
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
       <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
       <![endif]-->
           <title>{% block title %}{% endblock %} - SureThing</title>
{% endblock head %}
{% block navbar %}
    {% include 'includes/navbar.inc.html' %}
    <!--header-->
    <div id="header">
        {% block header %}
        {% endblock header %}
    </div>
    <!--/header-->
{% endblock navbar %}

{% block content %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <!--inner wrapper-->
        <div id="inner_wrapper">
            {% block inner_wrapper %}
            {% endblock inner_wrapper %}
        </div>
        <!--/inner wrapper-->
        <!--footer-->
        <div id="footer">
            {% include 'includes/footer.inc.html' %}
        </div>
        <!--/footer-->    
{% endblock content %}


{% block scripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/vendor/require.js', _external=True) }} "></script>
    <script src="{{ url_for('static', filename='js/main.js', _external=True) }} "></script>

    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

{% endblock scripts %}
